.carousel {
  position: relative;
  display: block;
  margin: auto;
  margin-bottom: 40px;
  width: 889px;
  height: 500px;
  padding: 20px 0 0 0;
}

  .carousel img {
    padding: 20px;
    max-height: 500px;
    min-height: 500px;
    object-fit: contain;
    border-radius: 16px;
    border: 2px solid #e0e0e0;
    background: #fff; /* optional background to show behind letterboxed areas */
  }
.carousel-control-next-icon,
.carousel-control-prev-icon{
  filter: invert(1) grayscale(100);
}
.carousel-indicators button{
  background-color: gray;
  mix-blend-mode: difference;
}
