.carousel {
  position: relative;
  padding: 20px 200px 50px 200px;
}

  .carousel img {
    display: block;
    width: 100%;
    height: auto;
    max-height: 600px; /*Adjust as needed */
    margin: auto;
    border-radius: 16px;
    border: 2px solid #e0e0e0;
  }
.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1) grayscale(100);
}
.carousel-indicators {
  filter: invert(1) grayscale(100);
}

/* Specific styles for details page carousel */
/*.details-carousel .carousel {
  padding: 50px;
}

  .details-carousel .carousel img {
    max-height: 300px;
  }*/
