img {
  max-width: 100%;
  height: auto;
  display: block; /* Ensures no extra space below the image */
  margin: 0 auto; /* Centers the image inside its container */
}

.homePhoto {
  max-width: 1000px; 
  width: 40%; /* Ensures the container is responsive */
  margin: 0 auto; /* Centers the container horizontally */
  padding: 20px; 
  box-sizing: border-box; 
}

.whereTo {
  font-size: 40px; 
  color: #050038; 
  font-weight: bold; 
  padding-bottom: 20px;
}

.dreamAdventure {
  font-size: 40px; 
  color: #050038; 
  font-weight: bold; 
  padding-top: 40px;
}
.topDestinationPicks {
  font-size: 24px; 
  color: #050038; 
  font-weight: bold; 
  padding-top: 250px;
  padding-bottom: 50px;
}
