.destinationNameContainer {
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  color: #050038;
  font-weight: bold;
  padding: 100px 0 50px 250px;
}

.btn-info {
  margin-right: 980px;
  margin-top: 50px;
  background-color: #050038;
  color: white;
  border-radius: 20px; /* Rounded edges */
  border-color: #050038;
}
.header-container {
  display: flex;
  justify-content: space-between; /* Distribute items along the main axis */
  align-items: center; /* Align items vertically centered */
}

.attractionContainer {
  margin-top: 20px;
}
.row {
  margin: 50px;
  margin-right: 250px;
  margin-left: 250px;
}

.list-card {
  cursor: pointer;
  transition: transform 0.2s;
  color: #050038;
}

  .list-card:hover {
    transform: scale(1.05);
  }

.attractionContainer .card-body .btn-primary {
  background-color: #050038;
  color: white;
  border-radius: 20px;
  border-color: #050038;
}

.attractionContainer .row .btn-primary {
  background-color: #050038;
  color: white;
  border-radius: 20px; 
  border-color: #050038;
  max-width: 200px;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.attractionContainer .text-center .btn-secondary {
  margin-bottom: 50px;
  background-color: #050038;
  color: white;
  border-radius: 20px;
  border-color: #050038;
}

.filters {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.filter-button {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: transform 0.2s;
}

.filter-button:hover {
  transform: scale(1.05);
}
