.restaurantIntro {
  width: 100%;
  max-width: 1400px;
  margin: 50px auto;
  margin-bottom: 0px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: start;
}

.restaurantName {
  font-weight: bold;
  font-size: 24px;
  color: #050038;
  display: block;
  text-align: left;
}
.restaurantReviewsAndPrice, .restaurantContacts {
  display: block;
  text-align: left;
  display: flex;
  align-items: center;
  color: #050038;
}

.restaurantReviewNumber {
  margin-left: 6px;
  font-weight: normal;
  color: #757575;
}

.separator::before {
  content: "•"; /* Unicode for bullet */
  margin: 0 8px;
}

.restaurantRating {
  font-weight: bold;
  color: #ff9500;
}

.restaurantWebsite a {
  text-decoration: none;
  color: inherit;
}

.restaurantWebsite:hover {
  text-decoration: underline;
}

.imgCarousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}

.contentsViewContainer {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  max-width: 1200px; /* or 80%, for a responsive layout */
  margin: 0 auto; /* Centers the container */
  margin-bottom: 50px;
}

.twoColumnView {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap; /* Stack columns on smaller screens */
}

.restaurantReviewColumn, .restaurantLocationMapColumn {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: start;
  flex: 1; /* Ensures both columns take up equal space */
  display: flex;
  flex-direction: column;
}

  .restaurantReviewsTitle, .restaurantLocationMaptitle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 15px;
    color: #050038
  }

.restaurantReviewsTitle {
  margin-bottom: 50px;
}

    .restaurantOverallRating {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
      border-bottom: solid;
      border-width: 1px;
      border-color: #050038;
    }


.ratingsContainer {
  flex-grow: 1; /* Allow this container to grow */
  color: #050038;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Space between each rating item */
}

.ratingItem {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  /*padding: 5px 0;*/
}

.ratingLabel {
  font-weight: 600;
  flex: 1; /* Ensures label takes up necessary space */
}

.ratingValue {
  display: flex;
  align-items: center;
}

  .ratingValue img {
    margin-right: 8px; /* Space between image and rating number */
  }

.restaurantAreaMap img{
  max-width: 300px;
  height: auto;
  border-radius: 10px;
}

.restaurantAddressPhysical a, restaurantAddressWebsite a {
  text-decoration: none;
  color: #050038;
}

.restaurantAddressPhysical:hover, .restaurantAddressWebsite:hover {
  text-decoration: underline;
}

.restaurantAddressPhysical {
  margin-top: 10px;
}

.restaurantAddressCategory {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.restaurantAddressPhysical, .restaurantAddressWebsite, .restaurantAddressPhone {


}
.restaurantAddressLabel {
  font-weight: 600;
  flex: 1; /* Ensures label takes up necessary space */
}

.restaurantAddress a,
.restaurantAddressPhone {
  display: inline-block;
}

.restaurantAddressWebsite a {
  text-decoration: none;
  color: #050038;
}

.restaurantAddressWesite:hover {
  text-decoration: underline;
}

.restaurantDetailsContainer {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: start;
}

.restaurantDetailsTitle {
  border-bottom: 1px solid #050038;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.restaurantDetailsColumns {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 30px;
}

.restaurantDetailsAboutColumn {
  flex: 1; /* Take up available space */
  padding-right: 20px;
  border-right: 1px solid #050038;
}

.restaurantDetailsExtrasColumn {
  flex: 1;
  padding-left: 20px;
}

.restaurantDetailsExtrasColumnTitle {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

.restaurantDetailsAboutColumnTitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.restaurantDetailsAboutColumnContent,
.restaurantDetailsExtrasColumnCuisinesContent,
.restaurantDetailsExtrasColumnFeaturesContent {
  font-size: 16px;
  line-height: 1.6;
}

  .restaurantDetailsExtrasColumnCuisinesContent:not(:last-child) {
    margin-bottom: 20px; /* Add space between Cuisines and Features */
  }
