<div class="hotelListTitle">Places to Stay in {{destinationName}}</div>

<!-- Input form for check-in, check-out, rooms, adults, and children -->
<div class="hotelSearchForm">
  <label for="checkInDate">Check-In</label>
  <input type="date" id="checkInDate" name="checkInDate">

  <label for="checkOutDate">Check-Out</label>
  <input type="date" id="checkOutDate" name="checkOutDate">

  <label for="rooms">Rooms</label>
  <input type="number" id="rooms" name="rooms" min="1" value="1">

  <label for="adults">Adults</label>
  <input type="number" id="adults" name="adults" min="1" value="1">

  <label for="children">Children</label>
  <input type="number" id="children" name="children" min="0" value="0">

  <button type="button" class="searchButton">Search</button>
</div>

<div class="hotelBackgroundPhoto">This is where the background photo will go</div>

<div class="TopHotelsTitle">Top Hotels in {{destinationName}}</div>
<div class="hotelListContentsContainer">
  <!--<div class="hotelFilters">
    <h3>Filters</h3>
    <div>
      <label>Rating</label>
    </div>
    <div>
      <label>Price</label>
    </div>
    <div>
      <label>Amenities</label>
    </div>
    <div>
      <label>Property Type</label>
    </div>
  </div>
  <div class="hotelList">
    <div class="hotelCard">
      <div class="hotelImage">
        <a [routerLink]="['/destination-hotel-details']">
          <img src="https://via.placeholder.com/150" alt="Hotel Image">
        </a>
      </div>
      <div>
        <div class="hotelName">
          <a [routerLink]="['/destination-hotel-details']">
            {{hotelName}}
          </a>
        </div>
        <div class="hotelReviewRating">
          <div class="hotelReviewStarRating">
            <i class="bi bi-star"></i>&nbsp;{{hotelRating}} Stars
          </div>
          <div class="separator"></div>
          <div class="numberOfhotelReviews">
            <i class="bi bi-file-text"></i>
            ({{hotelReviewNumber}} reviews)
          </div>
        </div>
        <div class="hotelPrice">
          <div class="hotelPropertyType">{{hotelPropertyType}}</div>
          <div class="separator"></div>
          <div class="hotelPriceAverage">
            <i class="bi bi-currency-dollar"></i>-->
  <!--{{hotelPriceAverage}}-->
  <!--</div>
        </div>

        <div class="hotelListReviewPreview">
          "{{ hotelReview1 | slice:0:200 }}..."<br />
          "{{ hotelReview2 | slice:0:200 }}..."
        </div>
      </div>
    </div>
  </div>-->

  <div class="hotelListContentsContainer">
    <div class="hotelFilters">
      <h3>Filters</h3>

      <div class="hotelRatingFilter">
        Rating <br />
        <div class="ratingFilterSection">
          <div class="filterItem">
            <input type="checkbox" id="rating5" name="rating5" value="rating5">
            <label for="rating5">5 stars</label>
          </div>
          <div class="filterItem">
            <input type="checkbox" id="rating4AndUp" name="rating4AndUp" value="rating4AndUp">
            <label for="rating4AndUp">4 stars and up</label>
          </div>
          <div class="filterItem">
            <input type="checkbox" id="rating3AndUp" name="rating3AndUp" value="rating3AndUp">
            <label for="rating3AndUp">3 stars and up</label>
          </div>
          <div class="filterItem">
            <input type="checkbox" id="rating2AndUp" name="rating2AndUp" value="rating2AndUp">
            <label for="rating2AndUp">2 stars and up</label>
          </div>
        </div>
      </div>

      <div class="hotelAmenitiesFilter">
        Amenities <br />
        <div class="amenitiesFilterSection">
          <div class="filterItem">
            <input type="checkbox" id="amenitiesFreeWifi" name="amenitiesFreeWifi" value="amenitiesFreeWifi">
            <label for="amenitiesFreeWifi">Free Wifi</label>
          </div>
          <div class="filterItem">
            <input type="checkbox" id="amenitiesPool" name="amenitiesPool" value="amenitiesPool">
            <label for="amenitiesPool">Pool</label>
          </div>
          <div class="filterItem">
            <input type="checkbox" id="amenitiesFreeParking" name="amenitiesFreeParking" value="amenitiesFreeParking">
            <label for="amenitiesFreeParking">Free Parking</label>
          </div>
          <div class="filterItem">
            <input type="checkbox" id="amenitiesRefrigeratorInRoom" name="amenitiesRefrigeratorInRoom" value="amenitiesRefrigeratorInRoom">
            <label for="amenitiesRefrigeratorInRoom">Refrigerator in room</label>
          </div>
          <div class="filterItem">
            <input type="checkbox" id="amenitiesHotTub" name="amenitiesHotTub" value="amenitiesHotTub">
            <label for="amenitiesHotTub">Hot Tub</label>
          </div>
        </div>
      </div>

      <div class="hotelPropertyTypeFilter">
        Property Type <br />
        <div class="propertyTypeFilterSection">
          <div class="filterItem">
            <input type="checkbox" id="propertyTypeHotel" name="propertyTypeHotel" value="propertyTypeHotel">
            <label for="propertyTypeHotel">Hotel</label>
          </div>
          <div class="filterItem">
            <input type="checkbox" id="propertyTypeMotel" name="propertyTypeMotel" value="propertyTypeMotel">
            <label for="propertyTypeMotel">Motel</label>
          </div>
          <div class="filterItem">
            <input type="checkbox" id="propertyTypeResort" name="propertyTypeResort" value="propertyTypeResort">
            <label for="propertyTypeResort">Resort</label>
          </div>
        </div>
      </div>
    </div>

    <div class="hotelList">
      <!-- Use *ngFor to loop over hotelCards array and display cards dynamically -->
      <div class="hotelCard" *ngFor="let hotel of displayedHotels">
        <div class="hotelImage">
          <a [routerLink]="['/destination-hotel-details']">
            <!-- should be <a [routerLink]="['/destination-hotel-details', hotel.id]"> -->
            <img [src]="hotel.image" alt="Hotel Image">
          </a>
        </div>
        <div>
          <div class="hotelName">
            <a [routerLink]="['/destination-hotel-details']">
              <!-- should be <a [routerLink]="['/destination-hotel-details', hotel.id]"> -->
              {{hotel.name}}
            </a>
          </div>
          <div class="hotelReviewRating">
            <div class="hotelReviewStarRating">
              <i class="bi bi-star"></i>&nbsp;{{hotel.rating}} Stars
            </div>
            <div class="separator"></div>
            <div class="numberOfhotelReviews">
              <i class="bi bi-file-text"></i>
              ({{hotel.reviews}} reviews)
            </div>
          </div>
          <div class="hotelPrice">
            <div class="hotelPropertyType">{{hotel.propertyType}}</div>
            <div class="separator"></div>
            <div class="hotelPriceAverage">
              <i class="bi bi-currency-dollar"></i>
              {{hotel.price}}
            </div>
          </div>
          <div class="hotelListReviewPreview">
            "{{ hotel.review1 | slice:0:100 }}..."<br />
            "{{ hotel.review2 | slice:0:100 }}..."
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- Load More Button -->
  <div class="loadMoreContainer">
    <button class="loadMoreButton" (click)="loadMoreHotels()">Load More</button>
  </div>

