<div class="hotelDetailsIntro">
  <div class="attractionNameContainer">
    <div class="atractionName">{{ attractionName }}</div>
  </div>
  <div class="hours">{{businessHoursOpening}} - {{businessHoursClosing}}</div>
  <div class="attractionRating">
    <div class="attractionStarRating">
      <i class="bi bi-star"></i>
      {{attractionRating}} stars
    </div>
    <div class="separator"></div>
    <div class="attractionReviewNumber">
      <i class="bi bi-file-text"></i>
      ({{attractionReviewNumber}} reviews)
    </div>
  </div>
  <div class="attractionAddress">
    <i class="bi bi-geo-alt"></i>
    <a [href]="'https://www.google.com/maps/search/?api=1&query=' + encodedAddress" target="_blank">
      {{attractionAddress}}
    </a>
  </div>
  <div class="leaveReview">Write a review</div>
</div>

<div class="imgCarousel">
  <app-carousel [images]="attractionImages" customClass="details-carousel"></app-carousel>
</div>

<div class="contentsViewContainer">
  <div class="twoColumnView">
    <div class="aboutColumn">
        <div class="about">About</div>
        <div class="aboutContainer">
          <!--<div class="col-6">-->
          Located on 70 sprawling acres in the heart of Wisconsin Dells, the Waterpark Capital of the World, Noah's Ark is recognized as both the Largest Water Park in America, and one of the best places to visit in Wisconsin Dells with kids.
          <!--</div>-->
        </div>
    </div>
    <div class="ContactColumn">
      <div class="reserve">
        <a href="{{attractionWebsite}}">Reserve your spot</a>
      </div>
    </div>

    <div class="localAreaContainer">
      <div class="row">
        <div class="col-6">
          The Area
          <div class="attractionAddress">
            {{attractionAddress}}
          </div>
        </div>
        <div class="col-6">
          <div class="localAreaMap">
            <!--This is where the map will go-->
            <img src="../../assets/paris.jpg" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-reviews></app-reviews>

</div>
