.attractionDetailsIntro {
  width: 100%;
  max-width: 600px;
  margin: 40px auto;
  padding: 10px 0 20px 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 10px; /* Add spacing between child elements */
}

.separator::before {
  content: "•"; /* Unicode for bullet */
  margin: 0 8px;
}

.attractionStarRating, .nearbyRestaurantRating, .nearbyHotelRating {
  font-weight: bold;
  color: #ff9500;
}

.attractionRating {
  display: flex;
  align-items: center;
  text-align: left;
  color: #050038;
}

.attractionReviewNumber, .nearbyRestaurantReviewCount, .nearbyHotelReviewCount {
  font-weight: normal;
  color: #757575;
}

.attractionAddressTitle a {
  text-decoration: none;
  color: #050038;
}

.attractionAddressTitle:hover {
  text-decoration: underline;
}

.attractionNameContainer{
  font-size: 28px;
  color: #050038;
  font-weight: bold;
}

.attractionSubCategoryContainer {
  font-size: 22px;
  color: #050038;
  font-weight: 500;
}

.hours {
  font-size: 20px;
  color: #050038;
}

.leaveReview {
  color: #050038;
  text-decoration: underline;
}

.contentsViewContainer {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
  max-width: 1200px; /* or 80%, for a responsive layout */
  margin: 0 auto; /* Centers the container */
  margin-bottom: 50px;
}

.twoColumnView {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 0 50px;
  padding-top: 10px;
  gap: 20px;
  flex-wrap: wrap; /* Stack columns on smaller screens */
}

.about, .contact, .attractionLocationTitle {
  font-size: 28px;
  color: #050038;
  font-weight: bold;
}

.reserve {
  font-size: 20px;
  color: #050038;
  font-weight: bold;
  text-decoration: none;
}

.aboutContainer, .contactContainer {
  margin-top: 10px;
  padding: 20px;
  max-width: 400px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #050038;
}

.contactContainer {
  text-align: start;
}

  .attractionAreaMap img {
    max-width: 300px;
    height: auto;
    border-radius: 10px;
  }

.attractionAddressPhysical a, attractionAddressWebsite a {
  text-decoration: none;
  color: #050038;
}

.attractionAddressPhysical:hover, .attractionAddressWebsite:hover {
  text-decoration: underline;
}

.attractionAddressPhysical {
  margin-top: 10px;
}

.attractionAddressCategory {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attractionAddressLabel {
  font-weight: 600;
  flex: 1; /* Ensures label takes up necessary space */
}

.attractionAddress a,
.attractionAddressPhone {
  display: inline-block;
}

.attractionAddressWebsite a {
  text-decoration: none;
  color: #050038;
}

.attractionLocationContainer {
  margin-top: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.attractionLocationImage {
    margin-bottom: 10px;
}

.attractionAddress a {
  text-decoration: none;
  color: #050038;
}

.attractionLocationNearbySearchContainer {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding-top: 10px;
  gap: 100px; /* Adjust the horizontal gap */
}

.attractionLocationNearbyRestaurantsTitle, .attractionLocationNearbyHotelsTitle {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
  color: #050038
}

.attractionLocationNearbyRestaurantsCard, .attractionLocationNearbyHotelsCard {
  display: flex;
  flex-direction: column;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 1px solid #e0e0e0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
}

  .attractionLocationNearbyRestaurantsCard:hover, .attractionLocationNearbyHotelsCard:hover {
    background-color: #ececec;
    transition: background-color 0.3s ease;
  }

.nearbyRestaurantName, .nearbyHotelName {
  font-size: 16px;
  font-weight: bold;
  color: #050038;
}

.nearbyRestaurantRatingContainer,
.nearbyHotelRatingContainer,
.nearbyRestaurantInfo,
.nearbyHotelInfo,
.nearbyRestaurantName,
.nearbyHotelName {
  display: flex;
  align-items: start;
}

.app-reviewsContainer {
  margin-top: 50px;
}

.imgCarousel {
  margin: auto;
  width: 75%;
  height: auto;
}
