.attractionNameContainer {
  display: flex;
  justify-content: flex-start;
  font-size: 40px;
  color: #050038;
  font-weight: bold;
  padding: 0 0 0 250px;
}
.hours {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  color: #050038;
  padding: 0 0 20px 250px;
}
.leaveReview {
  display: flex;
  justify-content: flex-start;
  font-size: 20px;
  color: #050038;
  text-decoration: underline;
  padding: 0 0 0 250px;
}

.about {
  font-size: 28px;
  color: #050038;
  font-weight: bold;
}

.reserve {
  font-size: 20px;
  color: #050038;
  font-weight: bold;
  text-decoration: none;
}

  .reserve:hover {
    text-decoration: underline;
  }

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 260px;
  padding: 20px;
  max-width: 400px;
  background-color: whitesmoke;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #050038;
}

.localAreaContainer {
    margin-top: 100px;
}

.localAreaContainer .col-6 {
  font-size: 18px;
  color: #050038;
  font-weight: bold;
}

.attractionAddress {
  font-weight:normal;
}

.imgCarousel {
    margin-left: 500px;
    margin-top: -70px;
    width: 50%;
    height: auto; 
}
.localAreaMap img {
  max-width: 500px;
  height: auto;
  padding-top: 50px;
  padding-bottom: 100px;
}
