<div class="hotelTitle">{{hotelName}}</div>

<div class="hotelReviewsAndAddress">
  <div class="hotelRating">
    <i class="bi bi-star"></i>
    {{hotelRating}} stars
  </div>
  <div class="separator"></div>
  <div class="hotelReviewNumber">
    <i class="bi bi-file-text"></i>
    ({{hotelReviewNumber}} reviews)
  </div>
    <div class="hotelAddress">
      <i class="bi bi-geo-alt"></i>
      {{hotelAddress}}
    </div>
</div>

  <div class="imgCarousel">
    <app-carousel [images]="hotelImages" customClass="hotelDetails-carousel"></app-carousel>
  </div>

  <div class="twoColumnView">
    <div class="hotelReviewColumn">
      <div class="hotelReviewsTitle">Reviews and ratings</div>
      <div class="hotelOverallRating">
        <div class="hotelRating">
          <i class="bi bi-star"></i>
          {{hotelRating}} stars
        </div>
        <div class="separator"></div>
        <div class="hotelReviewNumber">
          <i class="bi bi-file-text"></i>
          ({{hotelReviewNumber}} reviews)
        </div>
      </div>
      <div class="ratingsContainer">
        <div class="ratingItem">
          <div class="ratingLabel">location</div>
          <div class="ratingValue">
            <img src="path/to/location-rating-image.jpg" alt="Location Rating">
            {{location}}
          </div>
        </div>
        <div class="ratingItem">
          <div class="ratingLabel">Sleep Quality</div>
          <div class="ratingValue">
            <img src="path/to/sleepQuality-rating-image.jpg" alt="Sleep Quality Rating">
            {{sleepQuality}}
          </div>
        </div>
        <div class="ratingItem">
          <div class="ratingLabel">Rooms</div>
          <div class="ratingValue">
            <img src="path/to/rooms-rating-image.jpg" alt="Rooms Rating">
            {{rooms}}
          </div>
        </div>
        <div class="ratingItem">
          <div class="ratingLabel">Service</div>
          <div class="ratingValue">
            <img src="path/to/service-rating-image.jpg" alt="Service Rating">
            {{service}}
          </div>
        </div>
        <div class="ratingItem">
          <div class="ratingLabel">Value</div>
          <div class="ratingValue">
            <img src="path/to/value-rating-image.jpg" alt="Value Rating">
            {{value}}
          </div>
        </div>
        <div class="ratingItem">
          <div class="ratingLabel">Cleanliness</div>
          <div class="ratingValue">
            <img src="path/to/cleanliness-rating-image.jpg" alt="Cleanliness Rating">
            {{cleanliness}}
          </div>
        </div>
      </div>
    </div>
    <div class="hotelAboutColumn">
      <div class="hotelAboutTitle">Amenities</div>

    </div>
  </div>
