<div class="reviewsContainer">
  <div class="reviewsTitle">Reviews</div>
  <div class="reviewCard">
    <div class="reviewHeader">
      <div class="profilePic">
        <!-- logic for a picture to be implemented -->
      </div>
      <div class="reviewerInfo">
        <div class="reviewerName">{{reviewerName}}</div>
        <div class="reviewerLocation">{{reviewerLocation}}</div>
      </div>
    </div>
      <div class="reviewScore">{{reviewScore}} Stars</div>
      <div class="reviewTitle">{{reviewTitle}}</div>
      <div class="reviewDate">{{reviewDate}}</div>
      <div class="reviewContent">{{reviewContent}}</div>
  </div>
</div>
