.reviewsContainer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.reviewsTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.reviewCard {
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  align-items: flex-start;
}

.reviewHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profilePic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #eee;
  margin-right: 10px;
  overflow: hidden;
}

.reviewerInfo {
  display: flex;
  flex-direction: column;
}

.reviewerName {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.reviewerLocation {
  font-size: 14px;
  color: #888;
}

.reviewScore {
  font-size: 16px;
  font-weight: bold;
  color: #ff9500;
  margin-bottom: 10px;
  margin-left: 60px;
}

.reviewTitle {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
  margin-left: 60px;
}

.reviewDate {
  font-size: 14px;
  color: #aaa;
  margin-bottom: 10px;
  margin-left: 60px;
}

.reviewContent {
  font-size: 14px;
  line-height: 1.6;
  color: #444;
  margin-left: 60px;
}
