.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 10px 20px;
  padding-top: 0px;
  margin-top: -24px;
}

.navbar-left,
.navbar-center,
.navbar-right {
  display: flex;
  align-items: center;
}

.company-logo {
  height: 75px; 
}

.company-name {
  font-size: 48px; 
  color: orange; /* Change the color to orange or any color you prefer */
  font-weight: bold; 
}

.user-profile {
  height: 75px; 
  border-radius: 50%; /* Make the profile picture round */
}
