<div class="restaurantListTitle">Restaurants in {{destinationName}}</div>
<div class="restaurantMap">This is where the map will go</div>
<div class="TopRestaurantsTitle">Top Restaurants in {{destinationName}}</div>
<button class="sortButton">Sort</button>
<div class="restaurantListContentsContainer">
  <div class="restaurantFilters">
    <h3>Filters</h3>
    <div>
      <label>Cuisine</label>
    </div>
    <div>
      <label>Category</label>
    </div>
    <div>
      <label>Rating</label>
    </div>
  </div>
  <div class="restaurantList">
    <div class="restaurantCard">
      <div class="restaurantImage">
        <a [routerLink]="['/destination-restaurant-details']">
          <img src="https://via.placeholder.com/150" alt="Restaurant Image">
        </a>
      </div>
      <div>
        <div class="restaurantName" >
          <a [routerLink]="['/destination-restaurant-details']">
            {{restaurantName}}
          </a></div>
        <div class="restaurantReviewRating">
          <i class="bi bi-star"></i>&nbsp;{{restaurantRating}} Stars
          <div class="separator"></div>
          <div class="numberOfRestaurantReviews">
            <i class="bi bi-file-text"></i>
            ({{restaurantReviewNumber}} reviews)
          </div>
          <div class="separator"></div>
          <div class="restaurantOpenOrClosed">
            Open now
          </div>
        </div>

        <div class="restaurantCuisine">
          {{restaurantCuisine}}
          <div class="separator"></div>
          <div class="restaurantPriceAverage">
            <i class="bi bi-currency-dollar"></i>
            <!--{{restaurantPriceAverage}}-->
          </div>
        </div>

        <div class="restaurantListReviewPreview">
          "{{restaurantReview1}}"<br>
          "{{restaurantReview2}}"
        </div>
      </div>
    </div>
  </div>
</div>
